@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');
*{margin:0px; padding:0px}

.TopBar {background: #F5F5F5;}

.container {
    width: 1140px;
    overflow: hidden;
    margin: auto;
}

.TopbarWrapper {
    width: 100%;
    overflow: hidden;
}

.phone {
    width: 184px;
    float: left;
    padding: 15px 10px;
    font-size: 15px;
    border-left: 1px solid #e4e4e4;
    border-right: 1px solid #e4e4e4;
    font-family: 'Work Sans';
}
.phone i, .email i { color: #FF5200;}

.email {
    width: 774px;
    float: left;
    padding: 15px 10px;
    font-size: 15px;
    font-family: 'Work Sans';
}

.social {
    width: 140px;
    float: left;
}

.social a {
    padding: 15px 15px;
    display: block;
    float: left;
    border-right: 1px solid #e4e4e4;
    color: #464646;
    transition: 1s;
}
.social a:first-child {
    border-left: 1px solid  #e4e4e4;
}
.social i:hover {
    color: #FF5200;
}

.PrimaryWrapper {
    width: 100%;
    overflow: hidden;
}

.logo {
    width: 130px;
    float: left;
    margin-top: 20px;
}

.Menu {
    width: 1010px;
    float: left;
}

ul.MenuBar {
    list-style: none;
    float: right;
}

ul.MenuBar li {
    float: left;
}

ul.MenuBar li a {
    text-decoration: none;
    font-family: Oswald;
    font-weight: 500;
    color: rgb(36, 36, 36);
    display: block;
    padding: 30px 20px;
    letter-spacing: 0.9px;
    transition: 0.5s;
}

ul.MenuBar li a:hover {
    color: #FF5200;
}


#homeSlider {
              background: url(photos/slide-1.jpg);
              background-repeat: no-repeat;
              background-size: cover;
              background-position: 100%;
}

.sliderContent h1 {
    font-size: 50px;
    font-family: Oswald;
    text-transform: uppercase;
    width: 600px;
    color: white;
    margin-top: 120px;
    margin-bottom: 20px;
    font-weight: 500;
    float: left;
}

.sliderContent p {
    color: white;
    font-family: 'Work Sans', sans-serif;
    width: 486px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 25px;
}

button#btn {
    width: 180px;
    padding: 13px 20px;
    font-size: 16px;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 500;
    background: #ff5200;
    border: none;
    color: white;
    letter-spacing: 0.9px;
    border-radius: 3px;
    margin-bottom: 130px;
    text-align: center;
    outline: none;
    transition: 0.5s;
}

#btn:hover{
    background: #252525;

}

.sliderbar {
    width: 52px;
    margin: auto;
    padding: 40px 10px;
}

.sliderbar span {
    width: 8px;
    height: 8px;
    border: 3px solid #CBCBCB;
    display: block;
    border-radius: 100%;
    cursor: pointer;
    margin: 0px 5px;
}
.sliderbar span {
    width: 10px;
    height: 10px;
    border: 3px solid #CBCBCB;
    display: block;
    border-radius: 15px;
    cursor: pointer;
    float: left;

}

.sliderbar span:first-child {
    background: #FF5200;
    border-color: #FF5200;
}


.services {
    padding: 80px 0px;
}

.services {
      background: #F5F6F6
}


.serviceWrapper {
      overflow: hidden;
}

.singlebox {
       width: 258px;
       background: white;
       float: left;
       margin-right: 33px;
       border: 1px solid #eaeaea;
       transition: 0.6s;
}

.singlebox:hover {
      background: #FF5200;
      color: white;
}
.singlebox:hover i{
color: white ;
}
.singlebox:hover h2{
color: white ;
}
.singlebox:hover div{
color: white ;
}
.singlebox:hover a{
color: white ;
}

.singlebox4 {
width: 259px;
background: white;
float: left;
margin-left: 0px;
border: 1px solid #eaeaea;
transition: 0.6s;
}

.singlebox4:hover {
background: #FF5200;
color: white;
}

.singlebox4:hover i{
color: white ;
}
.singlebox4:hover h2{
color: white ;
}
.singlebox4:hover div{
color: white ;
}
.singlebox4:hover a{
color: white ;
}

.serviceIcons {
color: #fd6e04;
font-size: 50px;
text-align: center;
padding-top:40px;
padding-bottom: 20px;
}

.serviceTitle {
width: 200px;
text-align: center;
margin: auto;
}

.serviceTitle h2{
font-size: 20px;
font-family: oswald;
text-transform: uppercase;
font-weight: 500 !important;
color: #383737;
text-align: center;
letter-spacing: 0.02em;
}

.serviceDescription {
color: #6f6d6d;
font-family: Work Sans;
text-align: center;
font-size: 17px;
margin-top: 20px;
line-height: 23px;
}

.serviceLink {
text-align: center;
margin-top: 20px;
padding-bottom: 40px;
}

.serviceLink a {
text-decoration: none;
font-family: 'Work Sans';
font-size: 15px;
font-weight: 500;
color: #fd6e04;
}

.fa-arrow-right {
font-size: 11px;
margin-left: 2px;
}

.active {
background: #FF5200;
}
.active i{
color: white;
}
.active h2{
color: white;
}
.active div{
color: white;
}
.active a{
color: white;
}

section.OurWorProject {
    padding: 70px 0px;
}

.OurContents {
    width: 100%;
    overflow: hidden;
}

.WorkImage {
    width: 520px;
    float: left;
}

.WorkImage img {
    max-width: 100%;
    float: left;
}

.WorkContent {
    overflow: hidden;
    width: 525px;
    padding: 0px 47px;
}

.workDetails h2 {
    font-size: 36px;
    font-family: 'Oswald';
    font-weight: 500;
    word-spacing: 2px;
    letter-spacing: 0.4px;
    margin-bottom: 10px;
}

.workDetails p {
    font-size: 16px;
    font-family: 'Work Sans';
    line-height: 28px;
    margin-bottom: 25px;
    color: #616161;
}

.workFacilities {
    overflow: hidden;
}

ul.leftFul {
    list-style: none;
    float: left;
}

ul.rightFul {
    list-style: none;
}

ul.leftFul li {
    font-size: 16px;
    font-family: 'Work Sans';
    color: black;
    margin-right: 130px;
    line-height: 35px;
    font-weight: 500;
}

ul.rightFul li {
    font-size: 16px;
    font-family: 'Work Sans';
    line-height: 35px;
    font-weight: 500;
}

ul.leftFul li i {
    font-size: 14px;
    color: #929292;
    margin-right: 6px;
}

ul.rightFul li i {
    font-size: 14px;
    color: #929292;
    margin-right: 6px;
}

.workbtn {
    width: 120px;
    background: #FF5200;
    font-size: 18px;
    text-align: center;
    padding: 10px 20px;
    border-radius: 5px;
    border-bottom: 2px solid #d65252;
    margin-top: 20px;
    transition: 0.5s;
}

.workbtn a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Oswald';
    font-weight: 500;
    letter-spacing: 0.5px;
    word-spacing: 1px;
}

.workbtn:hover {
    background: #252525;
    border: 2px solid #252525;
}

.myprojectAward {
    background-image: linear-gradient(#00000078,#000000b8), url(photos/why-choose-us1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            padding: 70px 0px;
}

.AwardContent {
    width: 200px;
    overflow: hidden;
    float: left;
    margin: 0px 42px;
}

.AwardIcons {
    color: white;
    font-size: 50px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 15px;
}

.AwardTitle {
    font-size: 40px;
    font-family: arial black;
    color: white;
    letter-spacing: 0.6px;
    text-align: center;
}

.AwardTitle2 {
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: 'Oswald';
    font-weight: 500;
    letter-spacing: 0.5px;
    margin-top:7px;
}

section.blogPost {
    background: #eaeaea;
    background: ;
    padding: 70px 0px;
}

.SectionTitle {
    width: 570px;
    margin: auto;
    text-align: center;
}

.SectionTitle h2 {
    font-size: 40px;
    font-family: 'Oswald';
    font-weight: 500;
    letter-spacing: 0.4px;
    word-spacing: 1px;
}

.sectionBorder {
    width: 70px;
    border: 2px solid #FF5200;
    margin: auto;
    border-radius: 5px;
    margin-top: 8px;
    margin-bottom: 13px;
}

.sectionDescription {
    margin: auto;
    text-align: center;
    width: 500px;
}

.sectionDescription p {
    font-family: 'Work Sans';
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    color: #525252;
    line-height: 24px;
    margin-bottom: 50px;
}

.postWrapper {
    overflow: hidden;
    width: 100%;
    margin: auto;
}

.singlePost {
    width: 251px;
    float: left;
    padding: 0px 17px;
}

.PostImage img {
    max-width: 100%;
}

.PostContent h3 {
    font-family: 'Oswald';
    margin-top: 15px;
    margin-bottom: 9px;
    letter-spacing: 0.3px;
    font-weight: 500;
    font-size: 20px;
}

.PostContent p {
    font-size: 16px;
    font-family: 'Work Sans';
    color: #3e3e3e;
    line-height: 23px;
}